// Colors
$color-p1: red;
$color-p2: blue;
$color-draw: gray;

$player-colors: (
    "p1": $color-p1,
    "p2": $color-p2
);

$winner-colors: (
    "p1": $color-p1,
    "p2": $color-p2,
    "draw": $color-draw
);

// Font sizes
$font-size-player-score: 48px;
$font-size-winner: 64px;

// Metrics
$portrait-height: 350px;
$nameplate-height: 40px;
$action-height: 350px;
$action-fade-duration: 200ms;

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

@each $player, $color in $player-colors {
    .#{$player}-name {
        color: $color;
    }
}

.player-score {
    font-size: $font-size-player-score;
}

.player-action-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $action-height;
    width: 100%;

    img {
        max-height: $action-height;
        max-width: 100%;
    }
}

.player-action-image {
    position: absolute;
}

.player-action-current {
    animation: player-action-fade-in $action-fade-duration ease-in;
}

.player-action-previous {
    animation: player-action-fade-out $action-fade-duration ease-out forwards;
}

@keyframes player-action-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes player-action-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.p2-action {
    transform: scale(-1, 1);
}

.winner-container {
    display: flex;
    font-size: $font-size-winner;
    justify-content: center;
}

@each $winner, $color in $winner-colors {
    .winner-#{$winner} {
        color: $color;
    }
}

.player-character-portrait {
    display: flex;
    height: $portrait-height;
}

.player-character-nameplate {
    height: $nameplate-height;
}
