.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-name {
    font-size: 36px;
}

.p1-name {
    color: red;
}

.p2-name {
    color: blue;
}

.player-score {
    font-size: 48px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.info-rounds {
    font-size: 24px;
}

.total-rounds {
    display: flex;
}

.current-rounds {
    display: flex;
}

.info-status {
    display: flex;
    font-size: 18px;
    white-space-collapse: break-spaces;
}

.info-winner {
    font-size: 64px;
}

.start-container {
    display: flex;
    justify-content: center;
}

.start-button {
    font-size: 18px;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset-container {
    display: flex;
}

.exit-container {
    display: flex;
}

.player-character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-character-portrait {
    display: flex;
}

.player-character-portrait img {
    height: 180px;
}

.player-character-selector {
    display: flex;
}
