// Colors
$color-p1: red;
$color-p2: blue;

$player-colors: (
    "p1": $color-p1,
    "p2": $color-p2
);

// Font sizes
$font-size-status: 18px;
$font-size-button: 18px;
$font-size-rounds: 24px;
$font-size-player-name: 36px;
$font-size-player-score: 48px;
$font-size-winner: 64px;

// Metrics
$info-row-gap: 10px;
$portrait-height: 180px;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-name {
    font-size: $font-size-player-name;
}

@each $player, $color in $player-colors {
    .#{$player}-name {
        color: $color;
    }
}

.player-score {
    font-size: $font-size-player-score;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $info-row-gap;
}

.info-rounds {
    font-size: $font-size-rounds;
}

.total-rounds {
    display: flex;
}

.current-rounds {
    display: flex;
}

.info-status {
    display: flex;
    font-size: $font-size-status;
    white-space-collapse: break-spaces;
}

.info-winner {
    font-size: $font-size-winner;
}

.start-container {
    display: flex;
    justify-content: center;
}

.start-button {
    font-size: $font-size-button;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset-container {
    display: flex;
}

.exit-container {
    display: flex;
}

.player-character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-character-portrait {
    display: flex;

    img {
        height: $portrait-height;
    }
}

.player-character-selector {
    display: flex;
}
